
.submit{
	position: fixed;
	left: 10%;
	bottom: 30px;
	border-radius: 5px;
	background-color: #859FFE;
	width: 80%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
.loan-list{
	box-sizing: border-box;
	padding: 10px;
	height: 60px;
	width: 100%;
	margin-bottom: 1px;
	background: #fff;
}
.flex{
	display: flex;
	align-items: center;
	align-content: center;
}
.j-c-s-b{
	justify-content: space-between;
}
.j-c-f-e{
	justify-content: flex-end;
}
.nowarp{
	flex-wrap: nowrap;
}
.loan-list input{
	width: 80%;
	text-align: right;
	height: 100%;
	border: 0;
	margin: 0;
}
.weight{
	font-weight: 700;
	width: 70px;
}
.pd-10{
	padding: 10px;
}